<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-my" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>myPlugin</name>
  <!-- js-module name = we dont care  -->
    <js-module name="myPlugin" src="www/myPlugin.js">
        <!-- clobbers target = calling name -->
        <clobbers target="myPlugin" />
    </js-module>

  <platform name="ios">
    <config-file target="config.xml" parent="/*">
      <!--feature name = javascript third parameter name -->
      <feature name="PluginName2">

        <!--param value must same with ios class name  -->
        <param name="ios-package"
               value="PluginName1"/>
      </feature>
    </config-file>
    <header-file src="src/ios/PluginName1.h" />
    <source-file src="src/ios/PluginName1.m" />
  </platform>
</plugin>
